// colors
$arrowBgColor = #ccc

$accentColor = #4b9ad8 
$textColor = #4a4a4a
$borderColor = #4b9ad8 
$codeBgColor = #282c34

// layout
$navbarHeight = 3.6rem
$sidebarWidth = 20rem
$contentWidth = 1300px

// responsive breakpoints
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px
